<!DOCTYPE html>
<html lang="zh-CN" >
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Rolap</title>

	<!-- Bootstrap core CSS -->
	<link href="Scripts/bootstrap/css/bootstrap.css" rel="stylesheet">
	<link href="Scripts/layoutit.css" rel="stylesheet">
	
	<link rel="stylesheet" href="Scripts/jquery/jquery.treeview/jquery.treeview.css" />
	<link rel="stylesheet" href="css/drag_block.css" />
	
    <!-- Place anything custom after this. -->
	<style type="text/css" >
		#dimensionModal {width: 900px;margin: 0 0 0 -450px;}
	</style>

  </head>
  <body ng-app="app">
  
<!-- Navbar ================================================== -->
    <div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="brand" href="./index.html">Rolap</a>
				<div class="nav-collapse collapse">
					<ul class="nav">
						<li class="">
							<a href="./index.html">首页</a>
						</li>
						 <li class="">
							<a href="./getting-started.html">起步</a>
						 </li>
						<li class="">
							<a href="./scaffolding.html">脚手架</a>
						</li>
						<li class="">
							<a href="./base-css.html">基本CSS样式</a>
						</li>
						<li class="">
							<a href="./components.html">组件</a>
						</li>
						<li class="">
							<a href="./javascript.html">JavaScript插件</a>
						</li>
						<li class="active">
							<a href="./customize.html">定制</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
    </div>
	
<div class="container-fluid">

	<div class="">
		<div class="sidebar-nav" ng-controller="MetadataCtrl">
			<!-- <div ng-include src="'partials/left_sidebar.html'"></div>-->
			       
			<h3>产品</h3>
			<div style="margin:10px 10px 0px 10px;">
				<select ng-model="product" ng-options="p.nodename for p in products" ng-change="change()"></select>
			</div>
			
			<h3>维度</h3>
			<ul id="tree_dimension" class="filetree tree_4_bst" >
				<!--<li class="closed" ng-repeat="dims01 in metaData.Dimension">
					<span class="folder">{{dims01.Name}}</span>
					<ul>
						<li class="closed" ng-repeat="dims02 in dims01.Child">
						<span class="folder">{{dims02.Name}}</span>
							<ul>
								<li ng-repeat="dims03 in dims02.Child"><span class="file dimension" id="{{dims03.Id}}">{{dims03.Name}}</span></li>
							</ul>
						</li>
					</ul>
				</li>
				<li class="closed"><span class="folder">Dimension02</span>
					<ul>
						<li class="closed"><span class="folder">Dimension03</span>
							<ul>
								<li><span class="file dimension" id="5">Dimension 3.1</span></li>
								<li><span class="file dimension" id="6">Dimension 3.2</span></li>
								<li><span class="file dimension" id="7">Dimension 3.3</span></li>
								<li><span class="file dimension" id="8">Dimension 3.4</span></li>
							</ul>
						</li>
					</ul>
				</li>-->
			</ul>
			
			<h3>度量</h3>
			<ul id="tree_measure" class="filetree tree_4_bst" ><!--
				<li><span class="folder">Measure01 </span>
					<ul>
						<li><span class="file measure" id="11">Measure 1.1</span></li>
						<li><span class="file measure" id="12">Measure 1.2</span></li>
						<li><span class="file measure" id="13">Measure 1.3</span></li>
					</ul>
				</li>
				<li class="closed"><span class="folder">Measure02</span>
					<ul>
						<li><span class="file measure" id="14">Measure 3.1</span></li>
						<li><span class="file measure" id="15">Measure 3.2</span></li>
						<li><span class="file measure" id="16">Measure 3.3</span></li>
						<li><span class="file measure" id="17">Measure 3.4</span></li>
					</ul>
				</li>-->
			</ul>
				
		</div>
    </div>
	
	<div class="row-fluid">
		<div class="span12">
			<ul class="nav nav-tabs">
				<li class="active">
					<a href="#">首页</a>
				</li>
				<li>
					<a href="#">资料</a>
				</li>
				<li class="disabled">
					<a href="#">信息</a>
				</li>
				<li class="dropdown pull-right">
					 <a href="#" data-toggle="dropdown" class="dropdown-toggle">下拉<strong class="caret"></strong></a>
					<ul class="dropdown-menu">
						<li>
							<a href="#">操作</a>
						</li>
						<li>
							<a href="#">设置栏目</a>
						</li>
						<li>
							<a href="#">更多设置</a>
						</li>
						<li class="divider">
						</li>
						<li>
							<a href="#">分割线</a>
						</li>
					</ul>
				</li>
			</ul>
			
			
			<div class="row-fluid">
				<div class="span12">
					<table class="d_table">
						<tr>
							<td class="d_t_left">
								<div class="d_t_field">维度</div>
							</td>
							<td>
								<div id="target_dimension" class="drag_block d_t_block" >
									<ul ></ul>
								</div>
							</td>
						</tr>
						<tr>
							<td class="d_t_left">
								<div class="d_t_field">度量</div>
							</td>
							<td>
								<div id="target_measure" class="drag_block d_t_block" >
									<ul ></ul>
								</div>
							</td>
						</tr>
						<tr>
							<td class="d_t_left">
								<div class="d_t_field">过滤</div>
							</td>
							<td>
								<div id="target_filter" class="drag_block d_t_block" >
									<ul ></ul>
								</div>
							</td>
						</tr>
					</table>
				</div>
			</div>
			
		</div>
		
	</div>
</div>

<div ng-include src="'partials/dimension_filter_modal.html'"></div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
	<script src="Scripts/jquery/jquery-1.10.2.min.js"></script>
	<script src="Scripts/bootstrap/js/bootstrap.js"></script>
	
	<script type="text/javascript" src="Scripts/jquery/jquery.easyui/jquery.easyui.min.js"></script>
	<script type="text/javascript" src="Scripts/jquery/jquery.treeview/jquery.treeview.js" ></script>
	
	<script type="text/javascript" src="Scripts/angular-1.2.0-rc.2/angular.min.js" ></script>
	<script type="text/javascript" src="js/app.js" ></script>
	<!--
	<script type="text/javascript" src="js/controls/ProductCtrl.js" ></script>
	<script type="text/javascript" src="js/controls/DimensionCtrl.js" ></script>
	-->
	<!--
	<script type="text/javascript" src="Scripts/starter-kit-1.0.0/js/libs/ember-1.0.0.js" ></script>
	<script type="text/javascript" src="Scripts/starter-kit-1.0.0/js/libs/handlebars-1.0.0.js" ></script>
	
	<script src="js/app.js"></script>
	-->
	<!-- Templates -->
    <script type="text/html" id="template-block">
		<div class="drag_block">
			<ul class="connectable ui-sortable">
				<li id="li_${id}" class="ui-draggable d_${type}" >
					<!--<span class="cancel" onclick="drag_block.cancel('li_${id}')"></span>-->
					<a title="Region" rel="[Country].[Region]" class="level" href="#">${name}</a>
				</li>
			</ul>
		</div>
    </script>
	
	<script type="text/javascript" src="js/drag_block.js" ></script>
	
	<script>
	/*
        $(function(){
			// first example
			$("#tree_dimension").treeview();
			$("#tree_measure").treeview();
			//drag_block.init_drag('dimension');
			//drag_block.init_drag('measure');
			
			drag_block.init();
			drag_block.setFilterEvent(function(e,source){
				console.log('setFilterEvent');
				$('#myModalLabel').text( $(source).text());
				//$('#myModal').modal('toggle');
				$('#dimensionModal').modal('toggle');
				
			});
        });
		*/
    </script>
	
  </body>
</html>