		<div class="sidebar-nav" ng-controller="MetadataCtrl">
			<!-- <div ng-include src="'partials/left_sidebar.html'"></div>-->
			       
			<h3>产品</h3>
			<div style="margin:10px 10px 0px 10px;">
				<select ng-model="product" ng-options="p.nodename for p in products" ng-change="change()"></select>
			</div>
			
			<h3>维度</h3>
			<ul id="tree_dimension" class="filetree tree_4_bst" >
			</ul>
			
			<h3>度量</h3>
			<ul id="tree_measure" class="filetree tree_4_bst" >
			</ul>
				
		</div>