body {
	padding-top:50px;
	padding-bottom: 40px;
	margin-left:250px;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}

@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 979px) {
	.navbar-fixed-top { position:fixed; }
}

.sidebar-nav {
	position:fixed;
	width:250px;
	left:0px;
	bottom:0;
	top:41px;
	/*background:#ccc;*/
	/*padding: 9px 0; */
	/*z-index:10;*/
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	overflow : auto;
	border-right:3px solid #CCC;
}

.sidebar-nav h3 {
	line-height : 1.5em;
	margin :0;
	padding : 5px 10px 6px;
	background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#F0F0F0));
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	font-size:12px;
	font-weight :bold;
	text-shadow:1px 1px 0 #FFFFFF;
}
.sidebar-nav select { width:100%;height:23px;padding:2px;}
.sidebar-nav select option { padding-left:5px;}
