body {
	padding-top:50px;
	padding-bottom: 40px;
	margin-left:200px;
	-webkit-transition: margin 500ms ease;
	-moz-transition: margin 500ms ease;
	-ms-transition: margin 500ms ease;
	-o-transition: margin 500ms ease;
	transition: margin 500ms ease;
}
@media (max-width: 980px) {
	/* Enable use of floated navbar text */
	.navbar-text.pull-right {
		float: none;
		padding-left: 5px;
		padding-right: 5px;
	}
}
@media (max-width: 979px) {
	.navbar-fixed-top { position:fixed; }
}

.sidebar-nav {
	position:fixed;
	width:200px;
	left:0px;
	bottom:0;
	top:44px;
	/*background:#ccc;*/
	padding: 9px 0; 
	/*z-index:10;*/
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
	overflow : auto;
}


