
.drag_block ul {
    height: 19px;
    display: inline-table;
    /*float: left;*/
    line-height: 19px;
    list-style: none;
    margin: 0px 0px;
    padding: 3px;
    width: 100%;
}
.drag_block ul li {
    float: left;
    line-height: 17px;
    list-style-type: none;
    height: 19px;
    display: inline;
    padding: 1px 8px 1px 0px;
    min-width: 70px;
    text-align: center;
    white-space:nowrap;
    box-shadow: 0 0 2px #DDD;
    border-radius: 3px;
    -moz-box-shadow: 0 0 2px #DDD;
    -moz-border-radius: 3px;
    -webkit-box-shadow: 0 0 2px #DDD;
    -webkit-border-radius: 3px;
    /*margin: 2px 3px;*/
	margin-left:3px;
}
.drag_block ul li a {
    padding: 8px 0px 8px 10px;
}

.d_dimension {
    background: #e5f6ff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e0e9ef), to(#c2d5e2));
    background: -moz-linear-gradient(top, #e0e9ef 0%, #c2d5e2 100%);
    border: 1px solid #2a6085;
    color: #2a6085;
    display: inline !important;
    box-shadow: 0 0 2px #DDD;
}
.d_dimension:hover {
    background: #C2DAEF;
}
.d_dimension span.selections {
    background-position: -981px 2px;
    height: 16px;
    width: 16px;
    float: right;
    cursor: pointer;
    margin-top: 2px;
}
.d_dimension a {
    color: #2a6085;
    text-decoration: none;
}

.d_dimension .cancel {
	height: 16px;
        width: 16px;
        padding: 2px 3px;
        float: right;
        cursor: pointer;
}
.d_dimension .cancel:hover {
	background : url("../images/cancel3.png") no-repeat center transparent;
}

.d_measure {
    background: #ffe8e8;
    background: -webkit-gradient(linear, left top, left bottom, from(#fcf5f5), to(#fad9d9));
    background: -moz-linear-gradient(top, #fcf5f5 0%, #fad9d9 100%);
    border: 1px solid #ed9393;
    color: #983030;
    display: inline !important;
}
.d_measure:hover {
    background: #fad9d9;
}
.d_measure a {
    color: #983030;
    text-decoration: none;
}

.d_measure .cancel {
	height: 16px;
        width: 16px;
        padding: 2px 3px;
        float: right;
        cursor: pointer;
}
.d_measure .cancel:hover {
	background : url("../images/cancel3.png") no-repeat center transparent;
}


.d_placeholder  {
    border: 1px dashed #999;
    color: #999;
    display: inline !important;
    box-shadow: 0 0 2px #DDD;
}
.d_placeholder  a{
    color: gray;
    text-decoration: none;
}
.filetree li { line-height:16px;}

/* tree fo bootstrap */
.tree_4_bst {margin: 0; padding: 0; clear:both; margin-bottom:10px;}
.tree_4_bst a img { border: none; }
.tree_4_bst ul li { height:16px;line-height ; 0px;} 



/* drag table */
.d_table {width:100%;}
.d_table tr td { padding:0;padding-bottom:10px;}
.d_table .d_t_left { width:100px;height:35px;}
.d_table .d_t_right { width:100px;height:35px;}
.d_table .d_t_field {width:88px; height:100%; padding-top:6px; padding-left:10px; 
					border-top-left-radius:5px;border-bottom-left-radius:5px;border:1px solid #ccc;
					background:-webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#E6E6E6));}
.d_table .d_t_block {border:1px solid #ccc;width:100%;min-height:36px; 
					border-bottom-right-radius:5px;border-top-right-radius:5px;border:1px solid #ccc;
					padding-top:4px;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; box-sizing:border-box}